<link rel="stylesheet" href="/stylesheets/category_form.css">
<%- include('header.ejs', locals.count) %>
<section class="category-form">
    <h1><%= title %></h1>
    <form action="" method="post">
            <label>Category name:
                <input class="input-class" type="text" name="name" placeholder="Enter a new category" value="<%= locals.category === undefined ? '' : locals.category.name %>">
                </label>
            <button class="submit-class" type="submit">Submit</button>
    </form>
    <% if(locals.errors){locals.errors.forEach(function(error){%>
        <div class="alert alert-danger"><%= error.msg %></div>
    <% })} %>
</section>
<%- include('footer.ejs') %>


