<link rel="stylesheet" href="/stylesheets/category_detail.css">
<%- include('header.ejs', locals.count) %>
<section class="category-detail">
    <h1><%= title %></h1>
    <p class="category-name"><%= category.name %></p>
    <div class="category-info">
        <p>Products:</p>
        
            <% category_products.forEach(function(item,index){ %>
                <p class="category-product"> <a href="<%=item.url%>"><%= item.product_name %></a></p>
                <!-- <li> item.product_name</li> -->
                <% }) %>
        
    </div>
    <div class="update-delete-control">
        <a href="<%=category.url%>/update">Update</a>
        <a href="<%=category.url%>/delete">Delete</a>
    </div>
</section>
<%- include('footer.ejs') %>