<link rel="stylesheet" href="/stylesheets/category_delete.css">
<%- include('header.ejs', locals.count) %>
<section class="category-delete">
    <h1><%= title%>: <%= category.name %></h1>
    <% if(locals.category_products.length > 0) { %>
        <p>Delete the products below before deleting this category.</p>
        <div class="category-delete-products">
            <p>Products:</p>
            
                <% category_products.forEach(function(item,index){ %>
                    <p class="products-in-category"> <a href="<%=item.url%>"><%= item.product_name %></a></p>
                <% }) %>
        </div>

    <% } else { %>
        <p>Do you really want to delete this category?</p>
        <form action="" method="post">
            <div class="form-group">
                <input type="hidden" name="categoryid" required='true' value="<%= category._id %>">
                <button type="submit">Delete</button>
            </div>
        </form>
        <% } %>
</section>
<%- include('footer.ejs') %>
