<%- include('header.ejs', locals.count) %>
<section>
    <h1><%= title %></h1>
    <p><%= category.name %></p>
    <div>
        <p>Products</p>
        <ul>
            <% category_products.forEach(function(item,index){ %>
                <li> <a href="<%=item.url%>"><%= item.product_name %></a></li>
                <!-- <li> item.product_name</li> -->
                <% }) %>
        </ul>
    </div>
    <a href="<%=category.url%>/update">Update Category</a>
    <a href="<%=category.url%>/delete">Delete Category</a>
</section>
<%- include('footer.ejs') %>