<link rel="stylesheet" href="/stylesheets/product_list.css">
<%- include('header.ejs', locals.count) %>
<section class="product-list">
    <h1><%= title%></h1>

        <% product_list.forEach(function(item,index){ %>
            <div class="product-card">
                <p class="product-name"> <%= item.product_name %></p>
                <p class="product-price"><%= numeral(item.price).format('$ 0,0[.]00')  %></p>
                <a class="product-view" href="<%=item.url%>">view</a>
            </div>
        <% }) %>
    
</section>
<%- include('footer.ejs') %>
